.commissionBill-row {
    display: flex;
    align-items: center;
  }
  
  .commissionBilllabel {
    font-weight: bold;
    margin-right: 16px;
    min-width: 100px;
    margin-top: -10px;
    text-align: right;
  }